@inject IJSRuntime JSRuntime

<Router AppAssembly="@typeof(App).Assembly">

    <Found Context="routeData">
        <NavigationTracker />
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <NavigationTracker />
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>


@code {

    protected override async Task OnInitializedAsync()
    {
        string userSessionId = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "UserSessionId");

        if (string.IsNullOrEmpty(userSessionId))
        {
            userSessionId = Guid.NewGuid().ToString();
            await JSRuntime.InvokeVoidAsync("localStorage.setItem", "UserSessionId", userSessionId);
        }

        Console.WriteLine($"UserSessionId: {userSessionId}");
    }
}
