@using LightHouseScanner.Extensions
@using LightHouseScanner.Models
@using LightHouseScanner.Services
@using LightHouseScanner.Pages.Home.Components

<PageTitle>Home</PageTitle>
@inject ApiService ApiService

<!-- Blog Posts Section -->
<section id="blog-posts" class="blog-posts section">


    <div class="container my-4">
        <div class="row">
            @if (websiteDataList != null && websiteDataList.Any())
            {
                @foreach (var website in websiteDataList)
                {
                    <div class="col-lg-4 mb-4">
                        <article class="card shadow-sm p-1">


                            <div class="card-img-top p-0">
                                @if (!string.IsNullOrEmpty(website.FinalScreenshot))
                                {
                                    <img src="@website.FinalScreenshot" alt="Final Screenshot" class="img-fluid rounded float-end shadow">
                                }
                                else
                                {
                                    <img src="" alt="Default Screenshot" class="img-fluid">
                                }
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-center mt-2">
                                    <a href="@website.DomainName" target="_blank" class="anchor-hover">
                                        @website.DomainName
                                    </a>
                                </h5>

                                <div class="row mt-2">
                                    <div class="col-6 col-md-6 col-lg-6 col-xl-6 text-center mt-1">
                                        <div class="inner-content text-center m-1 m-md-0">
                                            <div class="c100 center @string.Format("p" + @website.Performance) @HTMLExtensions.GetCSSPercentageClass(@website.Performance.ToString())" style="@MetricsFontSize">
                                                <span>@website.Performance</span>
                                                <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                                            </div>
                                        </div>
                                        <p class="text-secondary pt-1">Performance</p>
                                    </div>

                                    <div class="col-6 col-md-6 col-lg-6 col-xl-6 text-center mt-1">
                                        <div class="inner-content text-center m-1 m-md-0">
                                            <div class="c100 center @string.Format("p" + @website.Accessibility) @HTMLExtensions.GetCSSPercentageClass(@website.Accessibility.ToString())" style="@MetricsFontSize">
                                                <span>@website.Accessibility</span>
                                                <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                                            </div>
                                        </div>
                                        <p class="text-secondary pt-1">Accessibility</p>
                                    </div>

                                    <div class="col-6 col-md-6 col-lg-6 col-xl-6 text-center mt-1">
                                        <div class="inner-content text-center m-1 m-md-0">
                                            <div class="c100 center @string.Format("p" + @website.BestPractices) @HTMLExtensions.GetCSSPercentageClass(@website.BestPractices.ToString())" style="@MetricsFontSize">
                                                <span>@website.BestPractices</span>
                                                <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                                            </div>
                                        </div>
                                        <p class="text-secondary pt-1">Best Practices</p>
                                    </div>

                                    <div class="col-6 col-md-6 col-lg-6 col-xl-6 text-center mt-1">
                                        <div class="inner-content text-center m-1 m-md-0">
                                            <div class="c100 center @string.Format("p" + @website.Seo) @HTMLExtensions.GetCSSPercentageClass(@website.Seo.ToString())" style="@MetricsFontSize">
                                                <span>@website.Seo</span>
                                                <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                                            </div>
                                        </div>
                                        <p class="text-secondary pt-1">SEO</p>
                                    </div>
                                </div>
                                <hr class="horizontal dark mt-0">
                                <div class="row">
                                    <div class="col-6">
                                        <p class="card-text">
                                            Page Load Time
                                            <br> <strong> @website.PageLoadTime ms </strong>
                                        </p>
                                    </div>
                                    <div class="col-6">
                                        <p class="card-text">
                                            Server Response Time
                                            <br> <strong> @website.ServerResponseTime ms </strong>
                                        </p>
                                    </div>

                                    <div class="col-6 mt-2">
                                        <p class="card-text">
                                            First Scan Date
                                            <br> <strong> @website.CreatedOn.ToString("yyyy-MM-dd") </strong>
                                        </p>
                                    </div>

                                    <div class="col-6 mt-2">
                                        <p class="card-text">
                                            Last Scan Date
                                            <br> <strong> @website.LastScan.ToString("yyyy-MM-dd") </strong>
                                        </p>
                                    </div>

                                    <div class="col-6 mt-2">
                                        <p class="card-text">
                                            First Scan IP Address
                                            <br> <strong> @website.CreatedOn.ToString("yyyy-MM-dd") </strong>
                                        </p>
                                    </div>

                                    <div class="col-6 mt-2">
                                        <p class="card-text">
                                            Last Scan IP Address
                                            <br> <strong> @website.LastScan.ToString("yyyy-MM-dd") </strong>
                                        </p>
                                    </div>
                                </div>

                                <p class="card-text"><strong>Created IP Info:</strong> @website.CreatedIPAddress</p>
                                <p class="card-text"><strong>Last Scan IP Info:</strong> @website.LastScanIPAddress</p>
                            </div>
                        </article>
                    </div>
                }
            }
            else
            {
                <div class="col-12">
                    <p class="text-center">No website data available.</p>
                </div>
            }
        </div>
    </div>

    <div class="container">
        <div class="row gy-4">

            <div class="col-lg-4">
                <article>

                    <div class="post-img">
                        <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
                    </div>

                    <p class="post-category">Politics</p>

                    <h2 class="title">
                        <a href="blog-details.html">Dolorum optio tempore voluptas dignissimos</a>
                    </h2>

                    <div class="d-flex align-items-center">
                        <img src="assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                        <div class="post-meta">
                            <p class="post-author">Maria Doe</p>
                            <p class="post-date">
                                <time datetime="2022-01-01">Jan 1, 2022</time>
                            </p>
                        </div>
                    </div>

                </article>
            </div><!-- End post list item -->

            <div class="col-lg-4">
                <article>

                    <div class="post-img">
                        <img src="assets/img/blog/blog-2.jpg" alt="" class="img-fluid">
                    </div>

                    <p class="post-category">Sports</p>

                    <h2 class="title">
                        <a href="blog-details.html">Nisi magni odit consequatur autem nulla dolorem</a>
                    </h2>

                    <div class="d-flex align-items-center">
                        <img src="assets/img/blog/blog-author-2.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                        <div class="post-meta">
                            <p class="post-author">Allisa Mayer</p>
                            <p class="post-date">
                                <time datetime="2022-01-01">Jun 5, 2022</time>
                            </p>
                        </div>
                    </div>

                </article>
            </div><!-- End post list item -->

            <div class="col-lg-4">
                <article>

                    <div class="post-img">
                        <img src="assets/img/blog/blog-3.jpg" alt="" class="img-fluid">
                    </div>

                    <p class="post-category">Entertainment</p>

                    <h2 class="title">
                        <a href="blog-details.html">Possimus soluta ut id suscipit ea ut in quo quia et soluta</a>
                    </h2>

                    <div class="d-flex align-items-center">
                        <img src="assets/img/blog/blog-author-3.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                        <div class="post-meta">
                            <p class="post-author">Mark Dower</p>
                            <p class="post-date">
                                <time datetime="2022-01-01">Jun 22, 2022</time>
                            </p>
                        </div>
                    </div>

                </article>
            </div><!-- End post list item -->
        </div>
    </div>
</section>

@code {

    private List<WebsiteData> websiteDataList;
    public string MetricsFontSize { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        await FetchTop10BestWebsites();
        MetricsFontSize = "font-size: 100px !important;";
    }

    private async Task FetchTop10BestWebsites()
    {
        var response = await ApiService.FetchTop10BestWebsitesAsync();
        if (response.IsSuccessStatusCode)
        {
            websiteDataList = await response.Content.ReadFromJsonAsync<List<WebsiteData>>();
        }
        else
        {
            // Handle error
            websiteDataList = new List<WebsiteData>();
        }
    }
}
