@inject ApiService ApiService


<section id="blog-posts" class="blog-posts section pb-0">
    <div class="container section-title" data-aos="fade-up">
        <h2>5 Best Page Speed Scores</h2>
        <p>View the websites with the highest overall performance scores. Analyze their success factors and implement similar strategies.</p>
    </div>

    <div class="container my-0">
        <div class="row">
            @if (websiteDataList != null && websiteDataList.Any())
            {
                @foreach (var website in websiteDataList)
                {
                    <div class="col-lg-4 mb-4">
                        <div class="card shadow-sm p-1">
                            <div class="card-img-top p-0">
                                @if (!string.IsNullOrEmpty(website.FinalScreenshot))
                                {
                                    <img src="@website.FinalScreenshot" alt="Final Screenshot" class="img-fluid rounded float-end shadow">
                                }
                                else
                                {
                                    <img src="" alt="Default Screenshot" class="img-fluid">
                                }
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-center mt-2">
                                    <a href="@website.DomainName" target="_blank" class="anchor-hover">
                                        @website.DomainName
                                    </a>
                                </h5>

                                @* <div class="col-12 text-center p-0">
                        <i class="fa-solid fa-circle-check fa-beat me-1 font-size-14px"></i>
                        <a class="anchor-hover1" data-bs-toggle="collapse" href="#collapse-Domain_@website.Id"
                        role="button" aria-expanded="false" aria-controls="collapse-Domain_@website.Id">
                        Website Audit Report
                        </a>
                        </div> *@

                                <div class="collapse1" id="collapse-Domain_@website.Id">

                                    <div class="row mt-3">
                                        <div class="col-12 text-start mt-1">
                                            <div class="row pt-3">
                                                <div class="col-6">
                                                    <p class="text-dark pt-1 mb-0 fs-6">Performance</p>
                                                </div>
                                                <div class="col-6 text-end">
                                                    <p class="text-dark fs-5 pt-1 mb-0">@website.Performance</p>
                                                </div>
                                            </div>

                                          <ProgressBar Percentage="@website.Performance" />

                                            <div class="row pt-3">
                                                <div class="col-6">
                                                    <p class="text-dark pt-1 mb-0 fs-6">Accessibility</p>
                                                </div>
                                                <div class="col-6 text-end">
                                                    <p class="text-dark fs-5 pt-1 mb-0">@website.Accessibility</p>
                                                </div>
                                            </div>

                                            <ProgressBar Percentage="@website.Accessibility" />                                           

                                            <div class="row pt-3">
                                                <div class="col-6">
                                                    <p class="text-dark pt-1 mb-0 fs-6">Best Practices</p>
                                                </div>
                                                <div class="col-6 text-end">
                                                    <p class="text-dark fs-5 pt-1 mb-0">@website.BestPractices</p>
                                                </div>
                                            </div>

                                            <ProgressBar Percentage="@website.BestPractices" />

                                            <div class="row pt-3">
                                                <div class="col-6">
                                                    <p class="text-dark pt-1 mb-0 fs-6">SEO</p>
                                                </div>
                                                <div class="col-6 text-end">
                                                    <p class="text-dark fs-5 pt-1 mb-0">@website.Seo</p>
                                                </div>
                                            </div>

                                            <ProgressBar Percentage="@website.Seo" />

                                        </div>
                                    </div>
                                    <hr class="horizontal dark mt-0">
                                    <WebsiteDetailMetrics Website="website" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-12">
                    <p class="text-center">No website data available.</p>
                </div>
            }
        </div>
    </div>
</section>

@code {

    private List<WebsiteData> websiteDataList;
    public string MetricsFontSize { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        await FetchTop10BestWebsites();
        MetricsFontSize = "font-size: 100px !important;";
    }

    private async Task FetchTop10BestWebsites()
    {
        var response = await ApiService.FetchTop10BestWebsitesAsync();
        if (response.IsSuccessStatusCode)
        {
            websiteDataList = await response.Content.ReadFromJsonAsync<List<WebsiteData>>();
        }
        else
        {
            // Handle error
            websiteDataList = new List<WebsiteData>();
        }
    }
}
