@code {
    [Parameter]
    public WebsiteData Website { get; set; } = new WebsiteData();
}

@{
    var createdIpDetails = CommonExtensions.GetIPAddressDetails(Website.CreatedIPAddress);
    var lastScanIpDetails = CommonExtensions.GetIPAddressDetails(Website.LastScanIPAddress);

    <div class="row text-start">
        <div class="col-6">
            <p class="mb-0">
                <span class="fw-lighter fs-8">
                    Page Load Time
                </span>
            </p>
            <p class="mb-0">
                <span class="fw-medium fs-7">
                    @Website.PageLoadTime ms
                </span>
            </p>
        </div>
        <div class="col-6">
            <p class="mb-0">
                <span class="fw-lighter fs-8">
                    Server Response Time
                </span>
            </p>
            <p class="mb-0">
                <span class="fw-medium fs-7">
                    @Website.ServerResponseTime ms
                </span>
            </p>
        </div>

        <div class="col-6 mt-1">
            <p class="mb-0">
                <span class="fw-lighter fs-8">
                    First Scan Date
                </span>
            </p>
            <p class="mb-0">
                <span class="fw-medium fs-7">
                    @Website.CreatedOn.ToString("MMM dd yyyy HH:mm:ss UTC")
                </span>
            </p>
        </div>

        <div class="col-6 mt-1">
            <p class="mb-0">
                <span class="fw-lighter fs-8">
                    Last Scan Date
                </span>
            </p>
            <p class="mb-0">
                <span class="fw-medium fs-7">
                    @Website.LastScan.ToString("MMM dd yyyy HH:mm:ss UTC")
                </span>
            </p>
        </div>
        <div class="col-12 mt-1">
            <p class="mb-0">
                <span class="fw-lighter fs-8">
                    First Scan IP Address
                </span>
            </p>
            <p class="mb-0">
                <span class="fw-medium fs-7">

                    @if (!string.IsNullOrEmpty(Website.CreatedIPAddress))
                    {
                        <span class="fw-normal fs-7">
                            <img src='@string.Concat("/images/Flags-Icon-Set/" + createdIpDetails.countryCode + ".png")'
                                 alt="Country - @createdIpDetails.countryCode" title="First Scan IP Address' @createdIpDetails.countryCode"
                                 class="rounded me-1 mb-1" style="height: 20px;" />
                            @createdIpDetails.query
                        </span>
                    }
                </span>
            </p>
        </div>


        <div class="col-12 mt-1">
            <p class="mb-0">
                <span class="fw-lighter fs-8">
                    Last Scan IP Address
                </span>
            </p>
            <p class="mb-0">
                @if (!string.IsNullOrEmpty(Website.LastScanIPAddress))
                {
                    <span class="fw-normal fs-7">
                        <img src='@string.Concat("/images/Flags-Icon-Set/" + lastScanIpDetails.countryCode + ".png")'
                             alt="Country - @createdIpDetails.countryCode" title="Last Scan IP Address' @createdIpDetails.countryCode"
                             class="rounded me-1 mb-1" style="height: 20px;" />
                        @lastScanIpDetails.query
                    </span>
                }
            </p>
        </div>
    </div>
}